<footer>
	<div class="container">
		<div class="row">
			<div class="col--3">
				<%- include('logo-footer.ejs') %>
			</div>
			<div class="col--3">
				<ul>
					<li><a href="#">Site Terms of Service</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Developers</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Career</a></li>
				</ul>
			</div>
			<div class="col--3">
				<ul>
					<li><a href="#">Site Terms of Service</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Developers</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Career</a></li>
				</ul>
			</div>
			<div class="col--3">
				<%- include('language-selector') %>
			</div>			
		</div>
	</div>
</footer>