<div class="language-selector language-selector--dropdown">
	<div class="language-selector__trigger"><a href="#" class="button button--outlined">Select language <span class="arrow arrow--down"></span></a></div>
	<div class="language-selector__content">
		<ul>
			<li>
				<a href="#"><span class="icon-flag icon-flag--cs"></span>Česky</a>
			</li>
			<li>
				<a href="#"><span class="icon-flag icon-flag--en"></span>English</a>
			</li>
		</ul>
	</div>
</div>