<div class="message message--<%- message_type %>">
    <div class="AVsizer">
        <p><u>Message:</u> <span><%= message] %></span></p>
        <span class="message__backdrop"><img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+IDx0aXRsZS8+IDxkZXNjLz4gPGc+ICA8dGl0bGU+YmFja2dyb3VuZDwvdGl0bGU+ICA8cmVjdCBmaWxsPSJub25lIiBpZD0iY2FudmFzX2JhY2tncm91bmQiIGhlaWdodD0iNDAyIiB3aWR0aD0iNTgyIiB5PSItMSIgeD0iLTEiLz4gPC9nPiA8Zz4gIDx0aXRsZT5MYXllciAxPC90aXRsZT4gIDxwYXRoIGZpbGw9IiNmZmZmZmYiIGlkPSJTaGFwZSIgZD0ibTE0LDEuNGwtMS40LC0xLjRsLTUuNiw1LjZsLTUuNiwtNS42bC0xLjQsMS40bDUuNiw1LjZsLTUuNiw1LjZsMS40LDEuNGw1LjYsLTUuNmw1LjYsNS42bDEuNCwtMS40bC01LjYsLTUuNmw1LjYsLTUuNnoiLz4gPC9nPjwvc3ZnPg=="></span>
    </div>
</div>